/* body{
  background: 	rgb(192,192,192);
  /* background: linear-gradient(90deg, rgba(54, 217, 203, 0.678) 0%, rgba(32, 88, 152, 0.671) 43%, rgb(9, 255, 0) 100%); */
/* } */ 
/* 
.App{
  height: 100vh;
  background-color: rgb(49, 26, 26);;
} */




