.horizontal_line {
  border-bottom: 4px solid black;
  width: 100%;
  position: relative;
  top: -20%;
  padding-bottom: 5mm;
}

@media screen and (min-width: 450px) {
  .WorkoutCreation {
    position: absolute; /* or absolute */
    top: 30%;
    left: 45%;
    border: 5px solid blue;
    font-size: 1.6rem;
    display: grid;
    /* place-items: center; */
    min-height: 200px;
    border: 4px solid;
    padding: 1rem;
    background-color: beige;
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
  }

  .WorkoutElement {
    font-family: monospace;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    display: block;
    position: relative;
    border: solid 40px lightslategrey;
    padding: 40px 60px;
    max-width: 1200px;
    width: 100%;
    margin: 100px auto 0;
    font-size: 40px;
    line-height: 50px;
    /* transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in; */
  }

  div.WorkoutElement > h3 {
    position: relative;
    margin: auto;
    left: 35%;
    font-size: 70px;
  }
  .exr-desc {
    position: relative;
    /* height: 100px; */
    width: 90%;
  }
  .wrk-base {
    position: relative;
    margin: auto;
    bottom: -15%;
    right: -10%;
  }

  .wrksize {
    position: relative;
    margin: auto;
    left: 40%;
    min-width: 250px;
    /* width: 50%; */
    /* height: 50%; */
  }
  .wrk-base > h2 {
    font-size: 50px;
    /* position: relative; */
    left: -30%;
    bottom: -30%;
  }

  .horizontal_dotted_line {
    border-bottom: 6px dotted black;
    width: 100%;
    position: relative;
    top: -20%;
  }

  .title {
    font-weight: bold;
    font-size: 55px;
    margin: auto;
    /* position: relative; */
    padding-top: 5mm;
    left: 30%;
  }

  .exr-desc > button {
    position: relative;
    top: -28%;
  }

  .wrkbutton {
    height: 200px;
    width: 200px;
    margin-left: 10mm;
    position: relative;
    right: -50%;
    font-size: 20px;
    /* top: -40%; */
  }

  .WorkoutElement:hover {
    transform: translateY(-10px) rotate(1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  }

  .PlanElement {
    flex-shrink: 0;
    margin: 12px;
    height: calc(200px + 6vw);
    width: calc(200px + 6vw);
    border: calc(16px + 0.2vw) solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30%;
    font-family: "Times New Roman", serif;
    font-size: 3rem;
  }

  .middle {
    position: relative;
    width: 300px;
    height: 100px;
    left: 28%;
    bottom: 50%;
  }

  .right {
    position: relative;
    width: 300px;
    height: 100px;
    left: 30%;
    bottom: 50%;
  }

  .muslcegroup {
    font-family: monospace;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    display: block;
    position: relative;
    border: solid 3px #6e7491;
    padding: 40px 60px;
    max-width: 800px;
    width: 70%;
    margin: 100px auto 0;
    font-size: 17px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;
    background-color: rgb(29, 167, 167);
  }

  .muslcegroup > h3 {
    font-size: 120px;
    font-weight: bold;
  }
  .hide {
    display: none;
  }

  .exercise:hover + .hide {
    display: block;
    color: red;
  }
}
@media screen and (max-width: 450px) {
  .WorkoutCreation {
    position: fixed; /* or absolute */
    top: 40%;
    left: 10%;
    border: 5px solid blue;
    font-size: 1.6rem;
    display: grid;
    /* place-items: center; */
    min-height: 200px;
    border: 4px solid;
    padding: 1rem;
    background-color: beige;
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
  }

  /* .exercise-form{
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    font-size: 15px;
    visibility: visible;
  } */

  .WorkoutElement {
    font-family: monospace;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    display: block;
    position: relative;
    border: solid 4px #6e7491;
    padding: 40px 60px;
    /* max-width: 800px; */
    width: 100%;
    height: 80%;
    /* margin: 100px auto 0; */
    font-size: 10px;
    line-height: 20px;
    /* transform: rotate(-1deg); */
    /* box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3); */
    /* transition: all 0.13s ease-in; */
  }

  div.WorkoutElement > h3 {
    position: relative;
    margin: auto;
    left: 5%;
    font-size: 35px;
  }

  /* .wrk-base{
    position: relative;
    left: 0%;
  } */

  .wrk-base > h2 {
    font-size: 18px;
    left: -10%;
    position: relative;
  }

  .title {
    font-weight: bold;
    font-size: 21px;
    position: relative;
    left: 5%;
    padding-bottom: 5px;
    padding-top: 5mm;
  }
  .horizontal_dotted_line {
    border-bottom: 4px dotted black;
    width: 90%;
    position: relative;
    top: -20%;
  }

  .exr-desc > button {
    position: relative;
    top: -28%;
  }
  .wrkbutton {
    height: 40px;
    width: 30 px;
    /* margin-left: 10mm; */
    position: relative;
    font-size: 14px;
    right: -30%;
    /* bottom: -20%; */
  }

  /* .WorkoutElement:hover {
    transform: translateY(-10px) rotate(1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  } */

  .PlanElement {
    flex-shrink: 0;
    position: relative;
    margin: auto;
    left: 5%;
    height: calc(250px + 6vw);
    width: calc(250px + 6vw);
    /* width: 95%; */
    border: calc(5% + 1vw) solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30%;
    font-family: "Times New Roman", serif;
    font-size: 3rem;
    margin-bottom: 1mm;
  }

  .plnbtn {
    margin-bottom: 5mm;
    position: relative;
    left: 5%;
  }

  .middle {
    position: relative;
    width: 300px;
    height: 100px;
    /* left: -5%; */
    /* bottom: 50%; */
  }

  .right {
    position: relative;
    width: 300px;
    height: 100px;
    /* left: 0%; */
    /* bottom: 50%; */
  }

  .muslcegroup {
    font-family: monospace;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    background-color: #92d293;
    display: block;
    position: relative;
    border: solid 3px #6e7491;
    padding: 40px 60px;
    max-width: 800px;
    width: 90%;
    margin: 100px auto 0;
    font-size: 17px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;
  }

  .muslcegroup > h3 {
    font-size: 50px;
    font-weight: bold;
  }
  .hide {
    display: none;
  }

  .exercise:hover + .hide {
    display: block;
    color: red;
  }
  .exercise:not(hover) + .hide {
    display: none;
  }
}
